<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="scan" (click)="ciao()">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="wine-outline"></ion-icon>
      <ion-label>Scopri</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scanned">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>Preferiti</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Impostazioni</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>





