<ion-header>
  <nav class="red darken-4">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Scan</a>
    </div>

  </nav>
</ion-header>
<!--
<ion-content>
  <ion-card>
    <img class="responsive-img" src="../../assets/img/scan.jfif"/>
    <ion-card-header>
      <ion-card-subtitle>QR Code</ion-card-subtitle>
      <ion-card-title>Scannerizza il tuo QR Code ora</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="qr-code-outline" slot="start"></ion-icon>
      <ion-label>Scan now</ion-label>
      <ion-button fill="outline" slot="end" (click)="scan()" color="danger">Scan</ion-button>
    </ion-item>
    <ion-card-content>
      Scannerizza il QR code del tuo vino e vedi come sarà la qualità dell'annata.
    </ion-card-content>
  </ion-card>  
</ion-content>
-->

<ion-content>
  <div class="row">
    <div class="col s10 offset-s1">
      <ion-card>
        <img class="responsive-img" width="100%" style="max-height:400px" src="../../assets/img/scan.jfif"/>
        <ion-card-header>
          <ion-card-subtitle>QR Code</ion-card-subtitle>
          <ion-card-title>Scannerizza il tuo QR Code ora</ion-card-title>
        </ion-card-header>
        <ion-item>
          <ion-icon name="qr-code-outline" slot="start"></ion-icon>
          <ion-label>Scan now</ion-label>
          <ion-button fill="outline" slot="end" (click)="scan()" color="danger">Scan</ion-button>
        </ion-item>
        <ion-card-content>
          Scannerizza il QR code del tuo vino e vedi come sarà la qualità dell'annata.
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
