<ion-content>  
  <div class="slider fullscreen">
    <ul class="slides">
      <li>
        <img src="../../assets/img/brunello.png"> <!-- random image -->
        <div class="caption center-align">
          <div class="card-panel red darken-4">
            <h1>Benvenuto in Wine Scanner!</h1>
            <h3 class="light grey-text text-lighten-3">Qui potrai ottenere ulteriori informazioni sulla qualità delle annate dei tuoi vini preferiti.</h3>
          </div>
        </div>
      </li>
      <li>
        <img src="../../assets/img/for.jfif"> <!-- random image -->
        <div class="caption left-align">
          <div class="card-panel red darken-4">
            <h1>Come funziona?</h1>
            <h3 class="light grey-text text-lighten-3">Vai sulla sezione "Scan", premi sul bottone "Scan now" e inquadra il QR Code del tuo vino.</h3>
          </div>
        </div>
      </li>
      <li>
        <img src="../../assets/img/montalcino.jpg"> <!-- random image -->
        <div class="caption right-align">
          <div class="card-panel red darken-4">
            <h1>Et Voil&agrave;!</h1>
            <h3 class="light grey-text text-lighten-3">Adesso puoi sfogliare le informazioni sui tuoi vini. Semplice. Pratica. Funzionale.</h3>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="fixed-action-btn">

    
  </div>

</ion-content>


